* {
    box-sizing: border-box; /* 确保padding和border不会增加元素宽度 */
}

body, html {
    width: 100%;
    overflow-x: hidden; /* 防止水平滚动 */
    max-width: 100%; /* 防止页面宽度超过视口宽度 */
}

.header {
    background-image: url('../img/112.png'); /* 设置背景图片 */
    background-size: cover; /* 背景图片覆盖整个元素 */
    background-position: center; /* 背景图片居中显示 */
    color: black; /* 文字颜色 */
    padding:20px; /* 增加上下的padding以确保文字在图片中间显示 */
    text-align: center; /* 文字居中 */
}
.header h1 {
    font-weight: 700;
    font-size: 30px; /* 设置标题字体大小 */
    color: #333; /* 设置字体颜色 */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Noto Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.nav {
    background-color:#eae9e9; /* 灰色背景 */
    padding: 10px;
    display: flex; /* 使用Flexbox布局 */
    justify-content: center;
    align-items: center; 
    /* justify-content: space-between; 两端对齐 */
}
.nav-center {
    display: flex;
    justify-content: center;
    width: 700px; /* 中间部分宽度 */
    margin-left:390px;
}
.nav-center ul {
    display: flex;
    font-size: 18px;
    justify-content: space-around; /* 项目之间平均分布空间 */
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Noto Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.nav .language-switch {
    margin-left: auto; /* 自动左边距推到右边 */
}
.nav .language-switch a {
    color: #000; 
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px; 
    font-size: 18px;
    font-weight: 550;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Noto Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.nav .language-switch a:hover {
    color: #0056b3; /* 悬停时改变颜色 */
}
/* .nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    padding: 0;
    width: 100%; 
    align-items: center;
    /* justify-content: space-between; 分散对齐所有列表项 
} */
.nav ul {
    list-style: none; /* 移除列表项的默认样式 */
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
    display: flex; /* 使用Flexbox布局 */
    align-items: center; /* 垂直居中 */
}

.nav li {
    margin: 0 0px; /* 在列表项之间添加一些空间 */
}

.nav a {
    text-decoration: none; /* 移除链接下划线 */
    color: #333; /* 设置链接颜色 */
    padding: 5px 10px; /* 添加一些内边距使链接更易点击 */
    position: relative;
}

.nav a:hover {
    color: #409EFF; /* 鼠标悬停时的链接颜色 */
}
/* 工具提示基础样式 */
.nav .tooltip {
    visibility: hidden;
    width: 160px;
    background-color: #fff;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* 定位 */
    position: absolute;
    z-index: 1;
    top:125%;
    left: 50%;
    margin-left: -80px; /* 使其居中 */

    /* 用于创建小箭头 */
    opacity: 0;
    transition: opacity 0.6s;
}

/* 鼠标悬停时显示工具提示 */
.nav a:hover .tooltip {
    visibility: visible;
    opacity: 1;
    font-size: 16px;
    font-weight: 400;
    color: #484141;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Noto Sans, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
footer {
    width: 100%; /* 确保footer占满整个页面宽度 */
    text-align: center; /* 文本居中 */
    padding: 20px 0; /* 上下填充，根据需要调整 */
    position: relative; /* 相对定位 */
    bottom: 0; /* 定位到页面底部 */
    left: 0; /* 与页面左边界对齐 */
    background-color: #f2f2f2; /* 背景颜色，根据需要调整 */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* 可选：为footer添加阴影效果 */
}
/* @charset "utf-8"; */
ul,
li,
p {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "楷体";
    font-size: 20px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #f5f5f5;
}


/* 通用容器样式，用于居中和设置宽度 */
.content, .product-display, .new-products, .hot-products {
    width: 900px; /* 设置宽度与轮播图相同 */
    margin: 0 auto; /* 水平居中 */
    text-align: center; /* 文本居中 */
    padding: 20px 0; /* 上下填充 */
}


.card-image {
    /* max-width: 100%; 限制图片最大宽度，防止溢出 */
    width: 50%;
    height: auto; /* 图片高度自动 */
    border-radius: 10px; /* 图片圆角 */
}

.card-content {
    width: 50%;
    /* flex: 1; 占据剩余空间 */
    /* width: 55%; 文字内容宽度 */
    padding:0 20px; /* 文字内容与图片间距 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card h3, .card p, .card a {
    text-align: center; /* 文字内容左对齐 */
}
.card h3 {
    margin-top: 0; /* 标题顶部边距 */
    color: #333; /* 标题颜色 */
}

.card p {
    font-size: 16px; /* 段落字体大小 */
    color: #666; /* 段落字体颜色 */
}

.card a {
    margin-top:10px;
    text-decoration: none; /* 移除链接下划线 */
    color: #007BFF; /* 链接颜色 */
    font-weight: bold; /* 链接字体加粗 */
}

.card a:hover {
    color: #0056b3; /* 链接悬停颜色 */
}
h2 {
    text-align: center; /* 标题居中 */
}

/* 卡片样式 */
.card {
    display: flex; /* 使用Flex布局 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 元素间隔均匀分布 */
    margin-bottom: 20px; /* 卡片间距 */
    background-color: #f9f9f9; /* 卡片背景色 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 卡片阴影 */
    padding: 10px; /* 卡片内边距 */
    width: 900px; /* 设置卡片宽度与轮播图相同 */
}

.product-display {
    text-align: center; /* 文本居中 */
    width: 900px; /* 或其他适当的宽度 */
    margin: 0 auto; /* 水平居中 */
}

.product-categories a {
    margin: 0 10px; /* 在链接之间添加一些空间 */
    text-decoration: none; /* 移除下划线 */
    color: #333; /* 设置链接颜色，根据需要调整 */
}

.product-categories {
    padding: 20px 0; /* 上下填充，根据需要调整 */
}
.swiper-slide {
    opacity: 0;
    transition: opacity 0.5s;
    width: 520px;
    height: 490px;
    margin: 0px auto 10px; /* 居中显示 */
    border-radius: 10px; /* 可选：为图片添加圆角 */
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    /* object-fit: contain; 保持图片比例 */
    object-fit: cover;  /* 覆盖容器，可能会裁剪图片的部分区域 */
    object-position: center; /* 图片居中显示 */
    border-radius: 10px; /* 可选：为图片添加圆角 */
}

.swiper-slide-active {
    opacity: 1;
}